{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" href="/static/js/simple.js">
{% endblock link %}
{% block title %}
home
{% endblock title %}

{% block body %}

<div class="slider mt-5">
  <ul>
    <li><span class="text-center text-warning chg"><h2>Welcome to Product Recommendation System</h2></span></li>
  </ul>
</div>




{% comment %} examples from bootstrap (thumnail) {% endcomment %}

<div class="container mt-5">
  <h1 class="text-warning chg" >From daraz
  </h1>
  <button><a href="/daraz">see more</a></button>
</div>

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

        {%for i in popularlist%}
        
          <div class="col">
            <div class="card shadow-sm">
               <img src="{{i.image}}" alt="{{i.title}}" width="200px" height="200px">
              <div class="card-body">
                  <p  class="card-text">{{i.title}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">{{i.rating}} </small>
                  
                <a href="{{i.link}}">link</a>
                </div>
                <div>
                 <small class="text-muted">{{i.dprice}} </small>
                 <small class="text-muted"><del>{{i.price}}</del></small>
                 <small class="text-muted">{{i.perdis}} </small>
                 
                </div>
                <a href="{% url 'product_detail' i.id %}" >Detail</a>
              </div>
            </div>
          </div>
       
       {% endfor %}
       
      </div>
    </div>
  </div>

  {% comment %} from sastodeal {% endcomment %}

<div class="container mt-5">
  <h1 class="text-warning chg" >From sastodeal
  </h1>
  <button><a href="/sastodeal">see more</a></button>
</div>

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

        {%for i in sastodealproduct%}
        
          <div class="col">
            <div class="card shadow-sm">
               <img src="{{i.image}}" alt="{{i.title}}" width="200px" height="200px">
              <div class="card-body">
                  <p  class="card-text">{{i.title}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">{{i.rating}} </small>
                  
                <a href="{{i.link}}">link</a>
                </div>
                <div>
                 <small class="text-muted">{{i.dprice}} </small>
                 {% comment %} <small class="text-muted"><del>{{i.price}}</del></small> {% endcomment %}
                 {% comment %} <small class="text-muted">{{i.perdis}} </small> {% endcomment %}
                 
                </div>
                <a href="{% url 'product_detail_sastodeal' i.id %}" >Detail</a>
              </div>
            </div>
          </div>
       
       {% endfor %}
       
      </div>
    </div>
  </div>

{% comment %} from socheko {% endcomment %}

<div class="container mt-5">
  <h1 class="text-warning chg" >From socheko
  </h1>
  <button><a href="/socheko">see more</a></button>
</div>

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

        {%for i in sochekoproduct%}
        
          <div class="col">
            <div class="card shadow-sm">
               <img src="{{i.image}}" alt="{{i.title}}" width="200px" height="200px">
              <div class="card-body">
                  <p  class="card-text">{{i.title}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">{{i.rating}} </small>
                  
                <a href="{{i.link}}">link</a>
                </div>
                <div>
                 <small class="text-muted">{{i.dprice}} </small>
                 {% comment %} <small class="text-muted"><del>{{i.price}}</del></small> {% endcomment %}
                 {% comment %} <small class="text-muted">{{i.perdis}} </small> {% endcomment %}
                 
                </div>
                <a href="{% url 'product_detail_socheko' i.id %}" >Detail</a>
              </div>
            </div>
          </div>
       
       {% endfor %}
       
      </div>
    </div>
  </div>


{% endblock body %}


