{% extends 'base.html' %}



{% block title %}
product_detail_sastodeal
{% endblock title %}
    


{% block body %}
<div class="card mb-3 mt-3 mx-auto" style="max-width: 740px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{product.image}}" class="img-fluid rounded-start" alt="{{product.title}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text"><small class="text-muted">rating={{product.rating}}</small></p>
        <a href="{{product.link}}">link</a>

      </div>
      <div>
        <small class="text-muted">{{product.dprice}} </small>
        <small class="text-muted"><del>{{product.price}}</del></small>
        <small class="text-muted">{{product.perdis}} </small>
        
       </div>
    </div>
  </div>
</div>

<div class="container mt-1 mx-auto" style="width:50%">
  <h5 class=" text-success chg" ><b>Add Review</b>
  </h5>
</div>
<div class="container mx-auto" style="width:50%">
  <form action="{% url 'submit_review_sastodeal' product.id %}" method="POST">
    {% csrf_token %}
    
    <div class="mb-3">
      <label for="textarea">Review:</label> <br>
      <textarea class="form-control" name="review" rows="3"></textarea><br>
    </div>
    <div class="mb-3">
      <label for="rating">Rating:</label><br>
      <div class="rate">
       <input type="radio" name="rating" id="rating10" value="5" requiered><label for="rating10" title="5"></label>
       <input type="radio" name="rating" id="rating9" value="4.5" requiered><label for="rating9" title="4.5" class="half"></label>
       <input type="radio" name="rating" id="rating8" value="4" requiered><label for="rating8" title="4"></label>
       <input type="radio" name="rating" id="rating7" value="3.5" requiered><label for="rating7" title="3.5" class="half"></label>
       <input type="radio" name="rating" id="rating6" value="3" requiered><label for="rating6" title="3"></label>
       <input type="radio" name="rating" id="rating5" value="2.5" requiered><label for="rating5" title="2.5" class="half"></label>
       <input type="radio" name="rating" id="rating4" value="2" requiered><label for="rating4" title="2"></label>
       <input type="radio" name="rating" id="rating3" value="1.5" requiered><label for="rating3" title="1.5" class="half"></label>
       <input type="radio" name="rating" id="rating2" value="1" requiered><label for="rating2" title="1"></label>
       <input type="radio" name="rating" id="rating1" value="0.5" requiered><label for="rating1" title="0.5" class="half"></label>
       
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="container mt-5">
  <h1 class="text-center text-warning chg" ><b>RECOMMENDATION FOR YOU</b>
  </h1>
</div>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

      {%for i in data %}
      
        <div class="col">
          <div class="card shadow-sm">
             <img src="{{i.image}}" alt="{{i.title}}" width="200px" height="200px">
            <div class="card-body">
                <p  class="card-text">{{i.title}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{i.rating}} </small>
                
              <a href="{{i.link}}">link</a>
              </div>
              <div>
               <small class="text-muted">{{i.dprice}} </small>
               <small class="text-muted"><del>{{i.price}}</del></small>
               <small class="text-muted">{{i.perdis}} </small>
               
              </div>
            </div>
          </div>
        </div>
     
     {% endfor %}
     
    </div>
  </div>
</div>



{% endblock body %}
    

