{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" href="/static/js/simple.js">
{% endblock link %}
{% block title %}
socheko
{% endblock title %}

{% block body %}

<form action="" method='GET'>

    <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
    
            {%for i in sochekoproduct%}
            
              <div class="col">
                <div class="card shadow-sm">
                   <img src="{{i.image}}" alt="{{i.title}}" width="200px" height="200px">
                  <div class="card-body">
                      <p  class="card-text">{{i.title}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <small class="text-muted">{{i.rating}} </small>
                      
                    <a href="{{i.link}}">link</a>
                    </div>
                    <div>
                     <small class="text-muted">{{i.dprice}} </small>
                     {% comment %} <small class="text-muted"><del>{{i.price}}</del> </small> {% endcomment %}
                     {% comment %} <small class="text-muted">{{i.perdis}} </small> {% endcomment %}
                     
                    </div>
                    <a href="{% url 'product_detail_socheko' i.id %}" >Detail</a>
                  </div>
                </div>
              </div>
           
           {% endfor %}
           
          </div>
        </div>
      </div>
    
        
      <nav aria-label="..." class="d-flex justify-content-center">
        <ul class="pagination">
           {%if sochekoproduct.has_previous%}
          <li class="page-item ">
            <a class="page-link" href="?page={{sochekoproduct.previous_page_number}}" >Previous</a>
          </li>
          {%endif%}
          <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
          <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
          <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
          <div>-----------------------</div>
          <li class="page-item active" aria-current="page">
          <a class="page-link" href="?page={{sochekoproduct.current_page_number}}">{{page_number}}</a>
          </li>
          <div>-----------------------</div>
          <li class="page-item"><a class="page-link" href="?page=15">15</a></li>
          <li class="page-item"><a class="page-link" href="?page=16">16</a></li>
          <li class="page-item"><a class="page-link" href="?page=17">17</a></li>
          
          {%if sochekoproduct.has_next%}
          <li class="page-item">
            <a class="page-link" href="?page={{sochekoproduct.next_page_number}}">Next</a>
          </li>
          {%endif%}
        </ul> 
      </nav>
</form>

{% endblock body%}